# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
*.log

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store

# Git backup created during repository repair
.git.backup/

# Temporary / backup files
*.backup

# Django collected static files
staticfiles/
ezcpos/staticfiles/

# Flutter
mobile/ezcpos_mobile/.dart_tool/
mobile/ezcpos_mobile/.flutter-plugins
mobile/ezcpos_mobile/.flutter-plugins-dependencies
mobile/ezcpos_mobile/.packages
mobile/ezcpos_mobile/.pub-cache/
mobile/ezcpos_mobile/build/
mobile/ezcpos_mobile/android/local.properties
mobile/ezcpos_mobile/android/app/debug/
mobile/ezcpos_mobile/android/app/profile/
mobile/ezcpos_mobile/android/app/release/
